/** @format */

@import url("https://fonts.googleapis.com/css2?family=Cabin:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --color-light: #fbefdf;
  --color-gray: #c1c0b6;
  --color-gray-darker: #b2b2a8;
  --color-dark: #3f3b37;
  --color-orange: #db4c44;
  --color-yellow: #e7aa2c;
  --color-cyan: #32b8cb;

  --font-sans-sarif: "Cabin", sans-serif;
  --font-sarif: "Playfair Display", serif;
}

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  border: none;
  outline: none;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
}

html,
body {
  overflow-x: hidden;
}

html {
  font-size: 62.5%;
}

body {
  background-color: var(--color-gray-darker);
  color: var(--color-dark);
}

.wrapper {
  background-color: var(--color-gray);
  min-height: 100vh;
  margin: 1%;
  border-radius: 20px;
}

/* global comon style */

.container {
  max-width: 95vw;
  margin: 0 auto;
}

h2:not(.header .row:first-child h2) {
  font-family: var(--font-sans-sarif);
}

h2 {
  font-size: 6.3vw;
  text-transform: capitalize;
  font-weight: 400;
}

hr {
  width: 100%;
  height: 1px;
  background-color: var(--color-dark);
}

.header {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.header .row {
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  align-items: center;
}

.header .row h2 span {
  font-family: var(--font-sarif);
  font-style: italic;
}

.header .row:first-child {
  font-family: var(--font-sarif);
}

.header .row:nth-child(3) {
  margin-bottom: 5.5vw;
}

.header .row:nth-child(7) {
  justify-content: center;
}

.header .row:nth-child(3) span,
.header .row a {
  font-family: var(--font-sans-sarif);
  font-size: 1.8rem;
  color: var(--color-dark);
  text-transform: uppercase;
  font-weight: 500;
}

.box {
  background-color: #32b8cb;
  height: 8rem;
  width: 14rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.header .box span:nth-child(2) {
  font-size: 2.4rem;
}

.header .box.about {
  background: linear-gradient(135deg, var(--color-light) 90%, transparent 10%);
}

.header .box.project {
  background: linear-gradient(135deg, var(--color-orange) 90%, transparent 10%);
}

.header .box.skill {
  background: linear-gradient(135deg, var(--color-cyan) 90%, transparent 10%);
}
